.card-header{
    background-color: #f7f7f7;
}

.row3 {
}

.row4 {
}

.row5 {
}

.row6 {
}

.row7 {
    display: flex;
    justify-content: right;
}

.row7 button{
    margin-left: 5px;
}

.radios {
    display: flex;
    justify-content: space-between;
}

.col-md-6 .card {
    margin-top: 1rem;
}